<%- include('layout') %>

<div class="container mt-4">
  <h2>Liens pour la Signature de Présence</h2>
  <p>Promotion: <%= promotion.name %> (<%= promotion.year %>)</p>
  <p>Cours: <%= course.subject_name %></p>
  <p>Date: <%= classe.day %> de <%= classe.start %> à <%= classe.end %></p>

  <% links.forEach(link => { %>
    <% if (link.student.user_id === user.id) { %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= link.student.firstname %> <%= link.student.lastname %></h5>
          <p class="card-text">
            <% if (!isPastCourse) { %>
              <% if (!link.hasSigned) { %>
                <a href="<%= link.link %>" class="btn btn-primary">Signer</a>
                <span class="badge bg-warning text-dark">Non signé</span>
              <% } else { %>
                <a href="<%= link.link %>" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Signer</a>
                <span class="badge bg-success">Déjà signé</span>
              <% } %>
            <% } else { %>
              <span class="badge bg-secondary">Cours passé</span>
            <% } %>
          </p>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>
