<%- include('layout') %>

<header class="bg-dark text-white text-center py-3 mb-4">
    <h1>Liste des Étudiants de la Promotion <%= promotion.name %></h1>
</header>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.firstname %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td>
                        <a href="/students/<%= student.id %>/edit" class="btn btn-warning btn-sm">Modifier</a>
                        <form action="/students/<%= student.id %>/delete?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                        <form action="/students/unassign-promotion/<%= student.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-secondary btn-sm">Désaffecter</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
